.chart-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chart-container {
    width: 45%; /* Adjust to fit two charts side by side */
    height: 400px; /* Customize height for better visualization */
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .chart-container {
        width: 100%; /* On smaller screens, make charts full width */
    }
}